@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(https://i.pinimg.com/originals/07/51/c8/0751c8740aeb0c0bd78d62ca265b8746.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #707070;
  margin: 0;
  padding: 0;
}

.navbar-brand span{
  color: #fff;
  font-weight: 700;
  padding: 5px 3px;
}

.title{
  font-size: 65px !important;
  color: #fff;
  padding: 30px 0px 20px 0px;
}

.container {
  max-width: 400px;
  min-width: 400px;
}

.title {
  font-weight: 700;
  font-size: 50px;
}

.form-rounded {
  border-radius: 2em;
}

.search-loaction{
  margin-bottom: 50px;
}

.back-card {
  border-radius: 30px !important;
}

.back-card:hover{
  box-shadow: 1px 1px 20px rgb(215, 219, 220) !important;
  transition-duration: 1.5s;
}

.city-name {
  position: absolute;
  width: 100%;
}

.city-name p {
  font-size: 16pt;
  font-weight: 400;
}

.city-name span {
  font-weight: 400;
  font-size: 36pt;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  top: -60px;
}

.temp span {
  font-weight: 100;
  font-size: 5em;
  letter-spacing: -5px;
  white-space: nowrap;
}
.card-mid {
  line-height: 0.5;
}

.condition {
  line-height: 1em;
  font-weight: 700;
  font-size: 1em;
  text-transform: capitalize;
}
.high::before {
  content: '';
  background: url('img/up.svg') no-repeat;
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.low::before {
  content: '';
  background: url('img/down.svg') no-repeat;
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.icon-container {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: #94c9ff;
}
.icon-container img {
  margin: auto;
}

.card-bottom {
  line-height: 0.5;
}
.card-bottom span {
  font-size: 12px;
}
.card-bottom p {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: -2px;
}



@media screen and (min-device-width: 310px) and (max-device-width: 1024px) { 
  body{
    background-size: auto;
  }
}